<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SSP</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1>SSP</h1>

    <table class="table table-bordered table-striped table-hover" id="server-table">
      <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>hi</td>
        </tr>
        <tr>
          <td>2</td>
          <td>yo</td>
        </tr>
        <tr>
          <td>3</td>
          <td>yo</td>
        </tr>
      </tbody>
    </table>

    <script type="text/template" id="tpl-server-row">
      <td><%= id %></td>
      <td><%= name %></td>
    </script>

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/backbone-min.js"></script>

    <script src="js/config.js"></script>

    <script src="js/models.js"></script>
    <script src="js/views.js"></script>
    <script src="js/controllers.js"></script>
    <script>
      var servers = new Servers;
      servers.fetch();
      var serverTable = new ServerTable({ collection: servers });
      //(document.body).append(serverTable.render().el);
      console.log(serverTable.render().el)
    </script>
  </body>
</html>